<div>
    <p>Post a new message</p>
    <form method="POST" action="/new">
        <input type="text" name="usrname" id="postuname">
        <textarea name="msg" id="postmsg" cols="30" rows="10"></textarea>
        <button type="submit">Post</button>
    </form>
</div>